//Colors
$my-yellow: hsl(47, 88%, 63%);
$my-white: hsl(0, 0%, 100%);
$my-grey: hsl(0, 0%, 50%);
$my-black: hsl(0, 0%, 7%);

//Breakpoint
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;

//Fonts
/* Fonts */
$font-family: 'Figtree', sans-serif;
$font-weight-regular: 500;
$font-weight-bold: 800;
