@use 'variables';
@use 'mixins';
@use 'normalize.css';

body {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  font-family: variables.$font-family;
  font-weight: variables.$font-weight-regular;
  background-color: variables.$my-yellow;
}

main {
  @include mixins.flex-center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$my-white;
  border: 1px solid variables.$my-black;
  border-radius: 20px;
  box-shadow: 8px 8px 2px variables.$my-black;
  padding: 1.3rem;
  width: clamp(280px, 70vw, 336px);
  height: 55vh;
  transition: .5s;

  #responsive-svg { //size: width="336" height="201"
    @include mixins.flex-center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    height: 201px;
  }

  #card-header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    .badge {
      background-color: variables.$my-yellow;
      color: variables.$my-black;
      font-weight: variables.$font-weight-bold;
      font-size: clamp(0.9rem, 1vw, 1rem);
      padding: 0.4rem 0.6rem;
      border-radius: 5px;
      width: fit-content;
    }

    .publish-date {
      color: variables.$my-black;
      font-size: clamp(0.9rem, 1vw, 1rem);
    }
  }

  h1 {
    color: variables.$my-black;
    font-size: clamp(1.4rem, 2vw, 1.5rem);
    font-weight: variables.$font-weight-bold;
    padding: 0;
    margin: 0;
    transition: .5s;
  }
  p {
    color: variables.$my-grey;
    font-size: clamp(1rem, 1vw, 1.1rem);
    margin: 0;
  }

  #card-footer {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 1vw, 1.1rem);
    gap: .8rem;
    font-weight: variables.$font-weight-bold;
    color: variables.$my-black;
    img {
      width: 35px;
      height: 35px;
    }
  }

  &:hover {
    transform: translate(-4px, -4px);
    box-shadow: 16px 16px 2px variables.$my-black;

    h1 {
      color: variables.$my-yellow;
    }
  }
}

.attribution {
  @include mixins.flex-center;
  color: variables.$my-black;
  a {
    color: variables.$my-black;
    font-weight: variables.$font-weight-bold;
  }
}
